<form class="item_viewer" id="item_viewer">
    <label id="title-label" for="title"><span class="label-text">Title: </span><input type="text" id="title" name="title" value="{{ item.title }}"/></label>
    <label> Date Added: {{ item.date_added }}</label>

    <label id="title-description" for="description">Description: <textarea form="item_viewer" id="description" name="description" >{{ item.description }}</textarea></label>



    <label id="title-date_due" for="date_due">

        Date Due:
        <input type="date" id="date_due_date" name="date_due_date" value="{{ item.get_date_due_date_html() }}"/>
        <input type="time" id="date_due_time" name="date_due_time" value="{{ item.get_date_due_time_html() }}"/>


    </label>


    <label id="title-completed" for="completed">Is Completed <input type="checkbox" id="completed" name="completed" {% if item.completed %} checked{% endif %}/></label>




</form>

<div class="item_viewer">
    <button class="btn-primary" onclick="save_item()">Save</button>
    <button class="btn-primary" onclick="delete_item(selected_item)">Delete</button>
</div>

{#<button class="btn-primary" onclick="save_item()">Save</button>#}
{#<button class="btn-primary" onclick="delete_item(selected_item)">Delete</button>#}

<script>
    function save_item () {
        let send_time = $('#date_due_time').val();
        let send_date = $('#date_due_date').val();

        if (send_date === "" && send_time !== "") {
            let today = new Date();
            send_date = today.getFullYear() + "-" + (today.getMonth() + 1 ) + "-" + today.getDate();
        }

        if (send_date !== "" && send_time === "") {
            let today = new Date();
            send_time = "23:59";
        }

        $.post('/api/write',
            {
                'id': selected_item,
                'title': $('#title').val(),
                'description': $('#description').val(),
                'date_due': send_date + "T" + send_time,
                'completed': $('#completed').prop("checked"),
            },
            (data, status)=>{
                console.log(data);
                console.log(status);

                update_item_list();
                set_item_button(selected_item);
                open_selected_item(selected_item);

            }
        );

     return false;
    }



</script>