<form class="item_viewer" id="item_viewer">
    <label id="title-label" for="title">Title: <input type="text" id="title" name="title" value="{{ item.title }}"/></label>
    <label> Date Added: {{ item.date_added }}</label>

    <label id="title-description" for="description">Description: <textarea form="item_viewer" id="description" name="description" >{{ item.description }}</textarea></label>
    <label id="title-date_due" for="date_due">Date Due: <input type="datetime-local" id="date_due" name="date_due" value="{{ item.get_date_due_html() }}"/></label>
    <label id="title-completed" for="completed">Is Completed <input type="checkbox" id="completed" name="completed" {% if item.completed %} checked{% endif %}/></label>


    <br/>
    <button class="btn-primary" onclick="save_item()">Save</button>
    <button class="btn-primary" onclick="delete_item(selected_item)">Delete</button>

</form>

{#<button class="btn-primary" onclick="save_item()">Save</button>#}
{#<button class="btn-primary" onclick="delete_item(selected_item)">Delete</button>#}

<script>
   function save_item () {
        $.post('/api/write',
            {
                'id': selected_item,
                'title': $('#title').val(),
                'description': $('#description').val(),
                'date_due': $('#date_due').val(),
                'completed': $('#completed').prop("checked"),
            },
            (data, status)=>{
                console.log(data);
                console.log(status);

                load_item_list();

            }
        );

     {#return false;#}
    }


</script>