<li class="item_button {% if item.completed %}item_button-completed{% endif %}" id="list_item_id_{{ item.id }}">
    <a onclick="open_selected_item({{ item.id }})">
        <div class="item_name">{{ item.title }}</div>
        <div class="item_description">{{ item.description }}</div>
        <div class="item_date_added">Added: {{ item.get_date_added_string().split('.')[0] }}</div>

        {% if item.date_due != None %} <div class="item_date_due">Due: {{ item.date_due }}</div> {% endif %}

        {% if item.completed %} <div class="item_completed">Completed</div> {% endif %}

    </a>
</li>