<nav class="main-nav ui-bar navbar navbar-expand-sm">

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
{#            <a class="nav-link btn" href="#">Link 1</a>#}
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                  To-Do
              </button>
              <div class="dropdown-menu">
                  <button class="dropdown-item" onclick="new_item()">New To-do Item</button>
                  <button class="dropdown-item" onclick="window.close()">Quit</button>

              </div>
        </li>
    </ul>

    <button class="btn-primary" onclick="new_item()">New To-do Item</button>

    <header id="app-header"> LT_Schmiddy's <em>Ugly-As-Sin</em> To Do List App:</header>
</nav>

<script>
    if ($.browser.mozilla) {
        document.getElementById('app-header').innerText += " - (Firefox doesn't support the type='datetime-local' in the input element. Google Chrome is recommended)";


    }


</script>